/**
 * 定义一个名为 banner 的样式类
 * 用于网站或应用中的横幅区域的样式设定。
 * 无参数
 * 无返回值
 */
/**/
.banner {
    width: auto; /* 横幅宽度充满整个父元素 */
    padding: 20px; /* 为横幅添加内部间距 */
    text-align: center; /* 使横幅内的文本居中对齐 */
    color: white; /* 设置横幅内文本的颜色为白色 */
    border: 1px solid #ccc; /* 为横幅添加边框 */
    margin: 0; /* 移除默认边距 */
    height: 65vh; /* 设置 body 的高度为视口的100% */
    background-size: cover; /* 背景图片覆盖整个容器 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 不重复背景图片 */
}

.banner h1 {
    font-size: 36px; /* 设置横幅内h1标题的字体大小为36像素 */
}

.banner h2 {
    font-size: 28px; /* 设置横幅内h2标题的字体大小为24像素 */
}
/* 定义横幅内段落文本的样式 */
.banner p {
    font-size: 20px; /* 设置横幅内段落文本的字体大小为20像素 */
}
#banner-text-company-name {
    font-size: 72px;
    color: #5cb85c;
    font-weight: normal;
}
/**
 * 定义表格的样式
 * 无参数
 * 无返回值
 */
table {
    width: 100%; /* 设置表格宽度为100% */
    border-collapse: collapse; /* 合并表格边框 */
    border: 1px solid #ccc; /* 设置表格边框为1px的灰色实线边框 */
    margin-bottom: 20px; /* 设置表格底部外边距为20px */
    margin-top: 20px; /* 设置表格顶部外边距为20px */
    background-color: #f9f9f9; /* 设置表格背景色为淡灰色 */
    border-radius: 5px; /* 设置表格边框圆角为5px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 设置表格的阴影效果 */
    overflow: hidden; /* 隐藏表格溢出内容 */
    box-sizing: border-box; /* 设置元素大小包含边框和内边距 */
    transition: all 0.3s ease; /* 添加过渡效果，使样式变化更加平滑 */
    cursor: pointer; /* 设置鼠标指针为手型，表示可点击 */
    user-select: none; /* 阻止用户选择表格内容 */
}
/**
 * 定义表格表头的样式
 * 无参数
 * 无返回值
 */
/* 定义表格表头的样式 */
/**
 * 定义一个表格图片的样式
 * 无参数
 * 无返回值
 */
/**
 * 为表格中的图片设置样式
 */
.table-img img{
    width: 50px; /* 设置图片宽度为50px */
    height: 50px; /* 设置图片高度为50px */
    margin: 0 0 0; /* 垂直居中对齐 */
    border: 1px solid #ccc; /* 添加1px灰色边框 */
    border-radius: 5px; /* 应用5px圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加一个轻量的阴影效果 */
    transition: all 0.3s ease; /* 添加过渡效果，使样式变化更加平滑 */
    cursor: pointer; /* 将鼠标指针改为指针形状，指示可以点击 */
    user-select: none; /* 阻止用户选择图片内容 */
    box-sizing: border-box; /* 保证边框和内边距不会影响元素的总宽度 */
}
.table-img {
    text-align: center; /* 设置表格内文本居中对齐 */
    font-size: 16px; /* 设置表格内字体大小为16px */
    font-weight: normal; /* 设置字体权重为正常 */
    color: #333; /* 设置文本颜色为深灰色 */
}

/**
 * .table-text 类定义了表格内文本的样式，确保文本居左显示，且具备一定的样式控制，如字体大小、颜色、内边距等。
 * 它通过 flex 布局确保文本在单元格中居中对齐，并且支持文本溢出时显示省略号。
 */
.table-text {
    /* 文本对齐方式设置为左对齐 */
    text-align: left;
    /* 设置字体大小为16px */
    font-size: 16px;
    /* 字体重量设置为正常 */
    font-weight: normal;
    /* 文本颜色设置为深灰色 */
    color: #333;
    /* 设置内边距为左右10px */
    padding: 0 10px;
    /* 确保边框包含在指定的宽度和高度内 */
    box-sizing: border-box;
    /* 隐藏溢出的内容 */
    overflow: hidden;
    /*!* 当内容溢出时显示省略号 *!*/
    text-overflow: ellipsis;
    /*!* 禁止文本换行 *!*/
    /*white-space: nowrap;*/
    /* 宽度和高度都设置为100%，以填满整个单元格 */
    width: 50%;
    height: 100%;
}
